.container {
  padding: 0 1rem;
  padding-top: 5rem;
  height: 100vh;
  background-color: #141d30;
  color: white;
  justify-content: center;
  align-items: center;
}

/* EDITOR CSS */

.section {
  align-items: flex-start !important;
  width: 100%;
  padding: 0 1rem;
}

.spacer {
  width: 1rem;
}

.editorContainer {
  box-sizing: border-box;

  width: 800px;
  height: 900px;
  padding: 2rem 1rem;

  background: #212837;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;

  overflow-y: scroll;
}

.editorHeader {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;

  color: #ffffff;
  padding-bottom: 0.5rem;
}

.editorText {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: rgba(255, 255, 255, 0.5);
}

.editorInput {
  width: 100%;
  padding: 0.5rem;

  font-family: "poppins";

  background-color: #141d30 !important;
  border-radius: 20px;

  border: none !important;
  outline: none;
}

.templateSelectionContainer {
  width: 100%;
  height: 246px;

  padding: 1rem;

  background: #141d30;
  border-radius: 20px;

  overflow-x: scroll;
  overflow-y: hidden;

  font-family: poppins;
}

.logoNameSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;

  background: #141d30;
  border-radius: 20px;
}

.editorSelect {
  height: 62px;

  background: #141d30 !important;
  border-radius: 20px;

  border: none !important;
  outline: none;
}

.editorButton {
  width: 169px;
  height: 60px;

  background: transparent !important;
  border: 1px solid #7b7b7b;
  border-radius: 20px;
}

/* =================== THEMES ===================  */

.themeContainer {
  width: 165px;
  height: 165px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.themeInnerContainer {
  width: 155px;
  height: 155px;
  border-radius: 20px;
}

.midnightDarkBg {
  background: #100e14;
}

.midnightDarkFg {
  background: #1a1820;
  border: 1px solid #34313e;
}

.solidCreamBg {
  background: #ececec;
}

.solidCreamFg {
  background: #ffffff;
  border: 1px solid #acacac;
}

.pastelLavenderBg {
  background: #ad9dce;
}

.pastelLavenderFg {
  background: #d4c8f5;
  border: 1px solid #9688bd;
}

.selected {
  border: 3px solid #3a76f2;
}

.addCustomContainer {
  width: 165px;
  height: 165px;

  background: #212837;
  border: 1px dashed #ffffff;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logoInput {
  width: 150px;
  color: transparent !important;
}

.logoInput::file-selector-button {
  width: 120px;
  height: 40px;
  color: white;
  font-family: "Inter";

  background: transparent !important;
  border: 1px solid #e6e6e6;
  border-radius: 7px;
}

/* ======= ARTWORK CSS ======== */

.artworkContainer {
  width: 900px;
  height: 900px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
}

.artworkInnerContainer {
  width: 846px;
  height: 846px;

  position: relative;
  border-radius: 50px;
  padding: 3rem 4rem;
  color: white;
}

.midnightDarkArtworkFg {
  background: #1a1820;
  border: 2px solid #34313e;
  color: white;
}

.solidCreamArtworkFg {
  background: #ffffff;
  border: 2px solid #e3e3e3;
  color: #939393;
}

.pastelLavenderArtworkFg {
  background: #d4c8f5;
  border: 2px solid #9688bd;
  color: #6d618e;
}

.artworkUpperSection {
  width: 100%;
  height: 500px;
}

.pfp {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.badge {
  position: absolute;
  width: 130px;
  right: -1.5rem;
  bottom: -1rem;
}

.midnightPfpContainer {
  position: relative;
  width: 357px;
  height: 357px;
  border-radius: 50%;
  border: 6px solid #ffffff;
}

.creamPfpContainer {
  position: relative;
  width: 357px;
  height: 357px;
  border-radius: 50%;
  border: 6px solid #cbcbcb;
}

.pastelPfpContainer {
  position: relative;
  width: 357px;
  height: 357px;
  border-radius: 50%;
  border: 6px solid #9688bd;
}

.divider {
  width: 845px;
  height: 0px;

  border: 1px solid #393540;
}

.midnightDivider {
  border: 1px solid #393540;
}

.creamDivider {
  border: 1px solid #e0e0e0;
}

.pastelDivider {
  border: 1px solid #9688bd;
}

.walletHeader {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
}

.tierHeader {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 28px;
}

.rankLabelContainer {
  display: flex;
  justify-content: flex-start !important;
  align-items: flex-end !important;
  width: 100%;
}

.rankLabel {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.rankTotalLabel {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}

.communityLogo {
  position: absolute;
  width: 140px;
  height: 140px;
  left: 10px;
  top: 10px;
}

.headerStatsContainer {
  width: 100%;
  justify-content: center;
  padding-top: 2rem;
}

.headerStatsLeftSection {
  width: 50%;
  display: flex;
  height: 100%;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}

.headerStatsRightSection {
  width: 50%;
  display: flex;
  height: 100%;
  justify-content: flex-end !important;
  align-items: flex-start !important;
  padding-top: 0.5rem;
}

.scoreContainer {
  padding-top: 0.5rem;
}

.scoreLabel {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 36px;
  padding-left: 8px;
}

.scoreTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 36px;
}

.scoreBarContainer {
  position: relative;
  width: 310px;
  height: 15px;

  background: rgba(217, 217, 217, 0.59);
  border-radius: 10px;
}

.midnightScoreBar {
  background: rgba(217, 217, 217, 0.59);
}

.creamScoreBar {
  background: #e3e3e3;
}

.scoreBar {
  position: absolute;
  width: 75%;
  height: 100%;

  border-radius: 10px;
}

.midnightTotal {
  background: #56ffeb;
}

.midnightProtocol {
  background: #fffe56;
}

.midnightDeveloper {
  background: #f09439;
}

.midnightCommunity {
  background: #9056e0;
}

.creamTotal {
  background: #cbfff9;
}

.creamProtocol {
  background: #ffe600;
}

.creamDeveloper {
  background: #fec790;
}

.creamCommunity {
  background: #c69dff;
}

.pastelTotal,
.pastelProtocol,
.pastelDeveloper,
.pastelCommunity {
  background: #9688bd;
}

.individualStatsContainer {
  padding-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.individualStatsLeftSection {
  width: 50%;
  height: 210px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start !important;
  gap: 0.5rem;
}

.individualStatsRightSection {
  width: 50%;
  height: 210px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start !important;
}

.header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
}

.publishButton {
  width: 169px;
  height: 60px;

  background: #0070f3 !important;
  border-radius: 20px;
}
